.circles * {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circles,
.circle {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.circles {
    overflow: hidden;

}
.circle {
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    z-index:-1;
}


@keyframes x {
    0% {
        transform: rotateX(0deg);        
    }
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes y {
    0% {
        transform: rotateY(0deg);        
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes z {
    0% {
        transform: rotateZ(0deg);        
    }
    100% {
        transform: rotateZ(360deg);
    }
}