

.ukge15-scotland {
	background-image: url(../img/photos/mp/mp-thomsonm.jpg);
}

.ukge15-southwest {
	background-image: url(../img/photos/mp/mp-warburtond.jpg);
}

.ukge15-london {
	background-image: url(../img/photos/mp/mp-butlerd.jpg);
}


.worldleaders-russia {
	background-image: url(../img/photos/heads/head-putinv.jpg);
}

.worldleaders-unitedstates {
	background-image: url(../img/photos/heads/head-trumpd.jpg);
}

.worldleaders-germany {
	background-image: url(../img/photos/heads/head-merkela.jpg);
}



.monarch-elizabeth2 {
	background-image: url(../img/monarchs/mon-elizabeth2.jpg);
}

.monarch-victoria {
	background-image: url(../img/monarchs/mon-victoria.jpg);
}

.monarch-george3 {
	background-image: url(../img/monarchs/mon-george3.jpg);
}



.pm-unitedkingdom-blair97 {
	background-image: url(../img/photos/mp/past/mp-blairt97.jpg);
}

.pm-unitedkingdom-blair01 {
	background-image: url(../img/photos/mp/past/mp-blairt01.jpg);
}

.pm-unitedkingdom-thatcher83 {
	background-image: url(../img/photos/mp/past/mp-thatcherm83.jpg);
}


.p-usa-bush00 {
	background-image: url(../img/photos/heads/past/head-bushgw.jpg);
}

.p-usa-kennedy60 {
	background-image: url(../img/photos/heads/past/head-kennedyj.jpg);
}

.p-usa-trump16 {
		background-image: url(../img/photos/heads/head-trumpd.jpg);
}


.rumbler1 {
	background-image: url(../img/photos/wwe/wwe-michaelss.jpg);
}
.rumbler2 {
	background-image: url(../img/photos/wwe/wwe-austins.jpg);
}
.rumbler3 {
	background-image: url(../img/photos/wwe/wwe-tripleh2.jpg);
}


.species1 {
	background-image: url(../img/photos/species/species-vaquita.jpg);
}
.species2 {
	background-image: url(../img/photos/species/species-javanrhino.jpg);
}
.species3 {
	background-image: url(../img/photos/species/species-amurleopard.jpg);
}

.photo-mp-sc-030 {background-image: url(../img/photos/mp/current/mp-gethinss.jpg);}
.photo-mp-em-012 {background-image: url(../img/photos/mp/current/mp-williamsonchris.jpg);background-size: 60% center; background-size: 110%}
.photo-mp-wm-026 {background-image: url(../img/photos/mp/current/mp-farrellyp.jpg);}


.football-cup-cc {
	background-image: url(../img/photos/football/cup-confed.jpg);}

.football-cup-cl {
	background-image: url(../img/photos/football/cup-european.jpg);}

.football-cup-fa {
	background-image: url(../img/photos/football/cup-fa.jpg);}

.football-cup-ec {
	background-image: url(../img/photos/football/cup-euro16.jpg);
}

.eplclub1 {
	background-image: url(../img/emblems/fc-manchester-united.png);
}
.eplclub2 {
	background-image: url(../img/emblems/fc-arsenal.png);
}
.eplclub3 {
	background-image: url(../img/emblems/fc-chelsea.png);
}